.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.content{
  display: flex;
  height: inherit;
  width: inherit;
  margin: 0;
}

textarea{
  resize: none;
}

.section{
  margin: 0;
  display: flex;
  height: inherit;
  width: 49%;
  overflow: auto;
}

.left{
  flex-direction: column;
}

.divider{
  height: inherit;
  width: 1%;
}

.right{
  flex-direction: column;
}

#editor{
  width: 100%;
  height: inherit;
}